/*
 * Globals
 */

:root {
    --main-bg-color: #848565;
    --main-text-color: #fff;
    --main-button-color: #FCA705;
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    border: .05rem solid #fff;
    background-color: var(--main-button-color);
}


/*
 * Base structure
 */

html,
body {
    background-color: var(--main-bg-color);
    /* background-image: url(/images/bckgrd.jpg);
    backdrop-filter: blur(5px); */
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, .5);
}

h1 {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

h1,
h2:not(.cta),
h3 {
    font-family: Georgia, Times, serif;
}

.card-title {
    font-weight: normal;
    font-style: italic;
}

.product-title {
    font-weight: bold;
    font-style: normal;
}

.welcome-info {
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, .5);
}

.card {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.card-img {
    height: 200px;
    object-fit: cover;
}

.card-body {
    flex-grow: 0;
}

.card .list-group {
    align-self: flex-start;
}

.card:hover {
    transform: translateY(-5px);
}

.products,
.welcome-info {
    text-shadow: none;
}

.products .card-title {
    /* font-weight: bold; */
    font-style: normal;
}

.special {
    color: rgb(153, 102, 0);
}

.persuade {
    text-align: center;
    font-weight: bold;
}

h3.no-font,
h2.no-font {
    font-family: Arial, Helvetica, sans-serif;
}

h4, h5, h6 {
    text-shadow: none;
}

/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
    height: 75px;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

/*
 * Main content
 */

.divider {
    background-color: rgb(166, 155, 108);
}

/* .welcome-info {
    background-color: #e2e2e2;
} */


/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.mastfoot a,
.mastfoot {
    background-color: #333;
    color: #525252;
    height: fit-content;
}

.mastfoot a:hover {
    color: #fff;
}

.mastfoot p {
    margin: 0;
    padding: 0;
}